@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');

:root {
    --offwhite: #FAF9F6;
    --offwhite-dark: #EEEDEB;
    --text-color: #333;
}

.fira-code {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes animateBorderRadius {
    0% { border-radius: 34% 49% 37% 59%; }
    25% { border-radius: 59% 37% 49% 34%; }
    50% { border-radius: 49% 34% 59% 37%; }
    75% { border-radius: 34% 49% 37% 59%; }
    100% { border-radius: 59% 37% 49% 34%; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-weight: 400;
}

body {
    background: linear-gradient(180deg, black, gray);
    min-height: 100vh; /* Faz o body ocupar a altura toda da tela */
    font-family: "Fira Code", monospace;
    color: var(--offwhite);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 430px; /* Largura aproximada de um celular */
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Faz a .container ocupar o espaço restante */
    justify-content: space-between; /* Distribui os elementos e mantém o footer no final */
    padding: 1rem;
}

#logo {
    width: 30%;
}

header {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

header img {
    scale: 90%;
    width: 50%;
    height: auto;
    border-radius: 100%;
    animation: animateBorderRadius 10s infinite alternate;
}

section {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
    background-color: var(--offwhite-dark);
}

section a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 90%;
    height: 3rem;
    background-color: var(--offwhite-dark);
    border: 2px solid var(--offwhite);
    border-radius: 12px;
    color: black;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px gray;
}

section a:hover {
    background-color: var(--offwhite);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

footer h2 {
    font-size: medium;
}

#git {
    padding-left: 20px;
}
